<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="logging.root" value="."/>
    <property name="default.level" value="DEBUG"/>
    <property name="app.name" value="taxIntegration"/>

    <include resource="logback-warden.xml"/>



    <!-- SQL日志 -->
    <appender name="DEFAULT-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>console.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.root}/${app.name}/local/sql.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date [%-5level] [%thread] %logger{80} - %msg%X{traceId}%n</pattern>
        </encoder>
    </appender>


    <root level="dubug">
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="console"/>
    </root>

</configuration>